.critical {
    color: red;
}

.warning {
    color:orange;
}

.disabled {
    opacity: 0.65; 
    cursor: not-allowed;
  }

  .warningReached{
      border-color: orange;
      
  }

  .criticalReached{
      border-color: red;
  }